.login-form input{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid gray;
    margin-top: 15px;
    
    
}
.login-form-body{
    border-radius: 15px;
}
.login-form-heading{
    position:relative;
    text-align: center;
    font-size: 40px;
    font-weight:bolder;
    text-shadow: 2px 0 #013260;
    letter-spacing:2px;
    color: #013260;
    font-family: 'Titillium Web', sans-serif;
}
.login-form-heading::before{
    content: '';
    display: inline-block;
    width: 30px;
    position: absolute;
    bottom: -20px;
    left:49.5%;
    height: 3px;
    background-color: rgb(2, 2, 155);
}
.login-form p{
    cursor: pointer;
}